.container{
    /* column-count: 5;
    column-width: 100px; */
    columns: 5 ;
    column-rule: 2px solid black;
    column-gap: 1rem;
}

/* "avoid" veut dire "eviter" */
.container p{
    break-inside: avoid;
}

p{
    color: yellow;
}