
body{
    background-color: #333333;
    color: white
}

h1{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}

h1:hover{
  letter-spacing: 0.3em;
  text-decoration: underline;
}
ul{
    list-style-type: none;
    border: 2px solid white;
    border-radius: 15px;
}
li{
    border-bottom: 2px solid white;
    margin-top: 5px;
}

li:hover{
    background-color: rgba(255, 255, 255,0.5)
}
/* rgb
r: red 
g: green
b: blue */
img{
    border-radius: 50%;

}

img, p{
    display: inline;
}

