section{
    margin-top: 50px;
    border: 2px solid black;
    max-width: 500px;
    min-height: 500px;
    margin-inline: auto;
    background-color: aqua;
    display: flex;
    /* gap: 3px; */
    justify-content: flex-start;
    align-items: flex-start;
    /* flex-direction:row;
    flex-wrap: wrap; */
    flex-flow: row nowrap;
    align-content: flex-start;

}

div{
    font-size: 2rem;
    color: white;
    background-color: black;
    border: 1px solid white;
    flex-basis: 200px;
    /* flex-grow: 1;
    flex-shrink: 1; */
    flex: 0.5 0.5 200px;
}

div:nth-child(2){
    flex-grow: 0.5;
    flex-shrink:1;
}