*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

i{
    font-size: 1.5rem;
    cursor: pointer;
}

header{
    position: sticky;
    box-shadow: 0 0 5px #000;
    padding: 5px;
    top: 0;
    z-index: 999;
    background-color: #fff;
}


header nav{
    display: flex;
    justify-content: space-between;
    place-items: center;
}

.left-side-nav{
    display: flex;
}

.youtube-logo{
    display: flex;
    place-items: center;
    justify-content: center;

}

.youtube-logo i{
    color: red;
}

.middle-side-nav{
    display: flex;
    place-items: center;
    justify-content: center;
    flex-grow: 1;
    margin-left: 15px
}

.search-component{
    border: 1px solid #000;
    border-radius: 25px;
    min-width: 70%; 
    max-width: 500px;
    padding: 0.25rem;
    display: flex;
    justify-content: space-between;
    padding-left: 2%;
}

.search-component input{
    flex-grow: 1;
}

.search-component input{
    border: none;
    outline: none;
}

.right-side-nav{
    display: flex;
    place-items: center;
    justify-content: space-between;
}

.create-button{
    display: flex;
    place-items: center;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}

.profile{
    cursor: pointer;
}

.profile img{
    border-radius: 50%;
    width: 40px;
}


.sidebar{
    position: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: fit-content;
    padding: 5px;
    border-right: 1px solid #000;
}

main{
    padding-left: 50px;
    padding-top: 5px
}

.video-container{
    display: flex;
    flex-wrap: wrap;
}

.video{
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 5px;
}

.video:hover{
    background-color: rgba(0, 0, 0, 0.2);
    transition: 0.5s ease-in-out;
    border-radius: 5px;
}
.video-info{
    display: flex;
    justify-content: space-between;
}

.video-channel-profile img{
    border-radius: 50%;
}

.video-info div:nth-child(2){
    flex-grow: 1;
    padding-left: 5px;
}

.video-title{
    font-weight: bold;
}

.video-channel-name, .views-upload-date{
    color: gray;
} 

.main-video-page{
    padding-right: 250px;
    padding-left: 5px;
}

.right-sidebar{
    position: fixed;
    right: 0;
    top: 35px
}