*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #252525;
    color: white;
}

h1 {
    font-size: 3rem;
    letter-spacing: 3px;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

form#user-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 1000px; */
    /* background-color: yellow; */
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

#user-form label{
    font-weight: bold;
}

#user-form input{
    display: block;
    /* width: 150%; */
    font-size: 1.25rem;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 10px;
    /* border-color: ; */
}


#user-form button{
    display: block;
    /* align-self: stretch; */
    width: 100px;
    font-size: 1.25rem;
    border-radius: 10px;
    padding: 0.5em;
    color: blue;
    cursor: pointer;
    border: none;
    margin-bottom: 0.5em;
    font-weight: bold;
}

#user-form button:hover{
    background-color: blue;
    color: white;
}


div#users-container{
    display: grid;
    grid-template-columns: 1fr;
    /* text-align: center; */
    gap: 0.5em;
    /* justify-content: center;
    align-items: center; */
}

.user{
    display: flex;
    gap: 2px;
    background-color: black;
    padding: 0.5em;
    margin: 0.5em 1em;
    border-radius: 10px;
}

.user-details p {
    font-size: 1.25rem;
    margin-bottom: 0.5em; 
}

.user-details .user-title{
    font-size: 2.25rem;
    color: goldenrod
}

@media (min-width: 950px){
    div#users-container{
        grid-template-columns: repeat(2, minmax(100px, 1fr));
    }
}